<script src="assets/remark-0.14.0.min.js"></script>
<script>
      var slideshow = remark.create({
         highlightLanguage: 'javascript',
         highlightStyle: 'tomorrow', 
         highlightLines: true
      });
</script>

{{ with .Site.Params.googleAnalytics }}
  {{ "<!-- Google Analytics -->" | safeHTML }}
  <script>
    var _gaq=[['_setAccount','{{ . }}'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
{{ end }} 
